<!DOCTYPE html>
<html>
<head>
	<title>LOGIN</title>
</head>
<body>
	
	<ul>
		<li><a href="/auth/logout">Logout</a></li>
		<li><a href="/auth/login">Login</a></li>
		<li><a href="/">HomePage</a></li>
	</ul>
	<p>GOOGLE OAUTH LOGIN</p>
	<a href="/auth/google">GOOGLE +</a>
	

</body>
</html>