<!DOCTYPE html>
<html>
<head>
	<title>Oauth tutorials</title>
	<style type="text/css">
		img{
			border-radius: 50%;

		}
	</style>
</head>
<body>
	<ul>
		<li><a href="/auth/logout">Logout</a></li>
		<li><a href="/">HomePage</a></li>

	</ul>
	
	<h1>Welcome <%= user.username %></h1>
	<img src="<%=user.image %>" />	

</body>
</html>
